/App_One_CSharp/App_One_CSharp/bin/Debug
/App_One_CSharp/App_One_CSharp/obj/Debug
/App_One_CSharp/App_One_CSharp/bin/Release
/App_One_CSharp/App_One_CSharp/obj/Release
/App_One_Cpp/.vs/App_One_Cpp/v16
/App_One_CSharp/.vs/App_One_CSharp/v16
/App_Two_CSharp/App_Two_CSharp/obj/Debug
/App_Two_CSharp/App_Two_CSharp/obj/Release
/App_Two_CSharp/App_Two_CSharp/bin/Debug
/App_Two_CSharp/App_Two_CSharp/bin/Release
/App_Two_CSharp/.vs/App_Two_CSharp/v16
/App_One_Cpp/App_One_Cpp/Release
/App_One_Cpp/App_One_Cpp/Debug
/App_One_Cpp/Debug/App_One_Cpp
/App_One_Cpp/Release/App_One_Cpp
